.display{
    /* background-image: url("../static/music.jpg");  */
    background-size: cover;
    background-position: center;
    width: 270px;
    height: 210px;
    margin-top: 25px;
    border: 1.5px solid rgb(9, 9, 9);
    padding:3px;
    display: flex;
    flex-direction: column;
}

.blank-div{
    width: 270px;
    height: 200px;
    background-color: #58162b;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.empty-text{
    margin: 5px;
    text-align: center;
}